// Help
// ==================================================
// Repeat given string for count-times


// Function
// ==================================================
string-repeat(string, count){
    result = ''
    for n in 1..count {
        result += string;
    }
    return result;
}