// =============================================================================
// Text overflow
// =============================================================================
// Hide text overflowing parent element and show ellipsis at the end of line


// Mixin
// =============================================================================
text-overflow() {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}