// ==================================================
// Enhanced height mixin
// ==================================================


// Help
// ==================================================
// Overrides height property and enable unit less values
// to be considered as body-line-height multipliers.
// 
// In: 
// height: 10px 2;
// 
// Out: 
// height: 10px 48px;
// height: 10px 4.8rem;


// Mixin
// ==================================================

height(){
    blh('height', arguments);
}