// =============================================================================
// Percentage
// =============================================================================
// Converts a unitless number to a percentage.


// Function
// =============================================================================
percentage(value){
    return unit((value * 100),'%');
}