// =============================================================================
// Vendors
// =============================================================================


// Mixin
// =============================================================================
vendors(property, value, vendors){
    for vendor in vendors {
        -{vendor}-{property}: value;
    }
    {property}: value;
}