// ==================================================
// Enhanced width mixin
// ==================================================


// Help
// ==================================================
// Overrides width property and enable unit less values
// to be considered as body-line-width multipliers.
// 
// In: 
// width: 10px 2;
// 
// Out: 
// width: 10px 48px;
// width: 10px 4.8rem;


// Mixin
// ==================================================

width(){
    blh('width', arguments);
}

min-width(){
    blh('min-width', arguments);
}

max-width(){
    blh('max-width', arguments);
}